<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <appSettings>
    <add key="yesmailApiURL" value="https://services.yesmail.com/enterprise/composite/subscribeAndSend"/>
    <add key="yesmailDomain" value="kclarkusfc"/>
    <add key="yesmailUsername" value="kceapi"/>
    <add key="yesmailPassword" value="K8c7e6a"/>
    <add key="yesmailProxyAddress" value="proxy.kcc.com"/>
    <add key="yesmailProxyPort" value="80"/>
    <add key="yesmailProxyUsername" value="USRNAP23"/>
    <add key="yesmailProxyPassword" value="kcc@1238"/>
    <add key="yesmailProxyDomain" value="kcus"/>
    <add key="yesmailReturnUrl" value="http://handhygienedev.studiocom.com/90Day"/>
    <add key="yesmailUseProxy" value="false"/>
    <add key="enableSecuritySec" value="false"/>
    <add key="enableWcfSecurity" value="false"/>

    <add key="yesmailER1_DefaultPackReceiver" value="1256210"/>
    <add key="yesmailER2_PersonalizedPackReceiver" value="1256191"/>
    <add key="yesmailER3_AddressErrorPackReceiver" value="1257087"/>
    <add key="yesmailER4_ReminderPackReceiver" value="1257081"/>
    <add key="yesmailES1_DefaultPackSenders" value="1257358"/>
    <add key="yesmailES2_DefaultMediaErrorToPackSenders" value="1257367"/>
    <add key="yesmailES3_DefaultAddressErrorToPackSenders" value="1257368"/>
    <add key="yesmailES4_ReminderPackSender" value="1257677"/>
    <add key="yesmailES5_ChainGrowthPackSender" value="1257700"/>
    <add key="yesmailERR_3rdBoxReceiver" value="1257357"/>
    <add key="yesmailERS_3rdBoxSenders" value="1257359"/>
    <add key="yesmailEP1_PhotoCollageSuccess" value="1257681"/>
    <add key="yesmailEP2_PhotoCollageError" value="1257685"/>
    <add key="yesmailEVR1_VirtualDefaultReceiver" value="1257689"/>
    <add key="yesmailEVR2_VirtualPersonalizedReceiver" value="1257699"/>
    <add key="yesmailEVS1_VirtualPersonalizedSender" value="1257709"/>
    <add key="yesmailEVS2_VirtualPersonalizedMediaErrorSender" value="1258007"/>
    <add key="yesmailEP_KleenexTransactionalMail" value="1257393"/>
  </appSettings>
  <log4net debug="false" >
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log-file.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <priority value="ALL" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <category name="yesmailTriggerEmail">
      <priority value="ALL" />
    </category>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
